<%- include('../../../templates/adminNavbar.ejs') -%>

<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Suppliers/Providers</h3>
        <div class="section-title-divider"></div>
      </div>
    </div>
      <!-- YOUR CODES HERE -->

  <div class="row" >
  <div class="col-6 col-md-4"></div>
  <div class="col-6 col-md-5">
      <fieldset class="well the-fieldset" style="border-color: black; border-width: 3px; background-color: light gray">

             <div class="card"  style="width: 20rem; height:30%">
              <div class="card-block" >

              <h2 class="card-title"><strong></strong></h2>
              <br>
              <div class="my-overflow" style="overflow-y: auto;height: 200px; max-height: 200px; width: 370px">

              <h2><strong><%=count%></strong></h2>
              <h4>Total Number of Active Suppliers/Providers</h4>

              </div>
              <br>

              </div>
              </div>

      </fieldset>
  </div>

</div> <!-- end of row -->

    <!-- END OF YOUR CODES -->

</section>

<%- include('../../../templates/footer.ejs') -%>
