<html>
<head>
	<title>Moments</title>
	
		<!-- DATATABLE Scripts -->
	<script type="text/javascript" charset="utf8" src="/assets/lumino/DataTables/datatables.js"></script>
	<script type="text/javascript" charset="utf8" src="/assets/lumino/DataTables/Select-1.2.4/js/dataTables.select.js"></script>
	<script type="text/javascript" charset="utf8" src="/assets/lumino/js/jquery.dataTables.min.js"></script>
	<link href="/assets/lumino/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/lumino/css/font-awesome.min.css" rel="stylesheet">
	<link href="/assets/lumino/css/datepicker3.css" rel="stylesheet">
	<link href="/assets/lumino/css/styles.css" rel="stylesheet">
	
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">
    
  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
	<meta property="og:title" content="">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">
  
  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="">
  
  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
	<link href="favicon.ico" rel="shortcut icon">
  
    <!-- Sweet Alert -->
   <link href="/assets/bootstrap-sweetalert-master/dist/sweetalert.css" rel="stylesheet"> 
  <!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet"> 
  
  <!-- Bootstrap CSS File -->
	<link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Libraries CSS Files -->
	  <link href="/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	  <link href="/assets/lib/animate-css/animate.min.css" rel="stylesheet">
  
  <!-- Main Stylesheet File -->
	<link href="/assets/css/style.css" rel="stylesheet">
 
  <!-- For dynamic date and time -->
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <script type="text/javascript" src="/assets/date_time.js"></script>
  
</head>
<body>

<form method="post" enctype="multipart/form-data">
<input type="file" name="myimage" />
<input type="submit" name="submit" value="submit"/>
</form>


<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
	        <thead>
						<tr>
							<th>Payment No</th>
							<th>Event Name</th>
							<th>Provider Name</th>
							<th>Amount Paid</th>
							<th>Payment Status</th>

						</tr>
	        </thead>

	        <tbody>
<tr>
							<th>Payment No</th>
							<th>Event Name</th>
							<th>Provider Name</th>
							<th>Amount Paid</th>
							<th>Payment Status</th>

						</tr>

	        </tbody>
	    </table>
		

			</div>

    

</body>
  <script>

     
</html>
